extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/face.png", alt="face logo")
    .navlink
      a(href="/logout") Log out
  h1 JumpPong
  h3.emptyLobby Player: #{lobbyData.name}
  section#buttons
    .navlink
      a(href="/quit/lobbyData.owner}", class="remove") Quit
  canvas#canvas(height='500', width='500', tabindex='1') Please use an HTML 5 browser
    | &#x9;
    | &#x9;
    #players  
    | &#x9;
  textarea#chat(rows='20', cols='40', readonly='')

